<main>
    <app-header></app-header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis odio impedit deserunt, culpa aperiam minus odit
        soluta itaque quisquam dicta ipsum voluptas expedita labore, a rem explicabo. Suscipit, necessitatibus cum
        repellat minima est, dolorum sed libero culpa fugiat nesciunt, illum autem delectus nisi nobis officiis eveniet
        laborum tempore laboriosam! Velit quos suscipit blanditiis necessitatibus possimus iusto mollitia, beatae
        praesentium ipsam sed voluptates, molestiae odit autem soluta, doloribus dolorum! Delectus commodi veritatis
        animi modi maiores accusamus laboriosam qui veniam voluptate dolor nisi rerum sint nesciunt repudiandae velit
        repellendus rem temporibus sunt vero, vel nemo eos reprehenderit quisquam debitis. Itaque perferendis distinctio
        commodi!</p>
        <app-content></app-content>
        <app-footer></app-footer>
</main>