*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding-top: 15px;
}